<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

 
  <!-- Main Content -->
 
<!-- <div class="content" style="background-image: url('Assets/images/aboutbg.webp'); background-size: cover"> -->
<div class="content about-background">

    <%- include partials/content.ejs %>
    <div>      
      
      <img class="myphoto" src="/Assets/images/myself.png" alt="myself" width="200" height="200">  
      <div>
        <div class="mydescription">
          <p>Hello, I am Jungyu Lee.</p> 
          <p>I came from South Korea.</p> 
          <p>I am in my second year of study in Artificial Intelligence.</p> 
          <p>I genuinely love programming languages.</p>
          <p>Whenever someone asks me what I like to do in my spare time,</p>
          <p>I just say I study programming languages.</p>
          <p><a class="resume" href="https://drive.google.com/file/d/1BFvuxDSpYyeYtCwb9j2lX-kW0Lrjg-_n/view?usp=sharing">This is my resume <i class="fa-regular fa-file"></i></a></p>
        </div>
      </div>
    </div>  
  
</div>

 
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  



