<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

 
  <!-- Main Content -->
  
  <main class="container">
    <div>
      <h3 class="intro">Welcome to the <%= title %> Page</h3>
      <h4 class="ms">About Me</h4>
      <img src="/Assets/images/me.jpg" alt="logo" width="200" height="200">
      <a class="about-link" href="/about">I will walk you through my story</a>
    </div>
  </main>

  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  



