<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

 
  <!-- Main Content -->
  
  
<div class="content" style="background-image: url('Assets/images/contactbg.webp'); background-size: cover">    
  <div class="empty-space"></div>
  <h3 class="intro contact-intro"><%= title %></h3>
  <h4 class="contactinfo">You can reach me at</h4>
  <h4 class="phone"><i class="fa-solid fa-mobile"></i> +1 (647) 618-9121</h4>
  <h4 class="email"><i class="fa-solid fa-envelope"></i> jlee629@my.centennialcollege.ca</h4>
  <h4 class="contactinfo">OR</h4>
  <h4 class="contactinfo">send me a message down here!</h4>
  <form action="mailto:jlee629@my.centennialcollege.ca" method="POST" enctype="text/plain" name="EmailForm">
  
  </form>

</div>

  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  



