<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

 
  <!-- Main Content -->
  
  
<div class="content" style="background-image: url('Assets/images/projectsbg.jpg'); background-size: cover;">    
  <div class="empty-space"></div>
  <h3 class="intro"><%= title %></h3>
  <div class="project-content">
    <div>
    <a class="git-link" href="https://github.com/jlee629/Photo-Gallery"><img class="project-photo project1-photo" src="/Assets/images/project1.png" alt="logo" width="500" height="350"></a>
       
    <a class="git-link" href="https://github.com/jlee629/Photo-Slideshow"><img class="project-photo" src="/Assets/images/project2.png" alt="logo" width="500" height="350"></a>  
    
    <a class="git-link" href="https://github.com/jlee629/Prime-Ministers-WinForms"><img class="project-photo project3-photo" src="/Assets/images/project3.png" alt="logo" width="500" height="350"></a> 

    <p class="project-description project1-desc">1. Photo Viewer (individual project) Users can move through the picture by clicking on the next or previous buttons. They can mark photos as favorites for up to 5 pictures.</p>
    <p class="project-description project2-desc">2. Photo Slide (individual project) I designed and developed a photo slideshow using jQuery and Ajax to allow users to view the slideshow without having to touch the screen.</p>
    <p class="project-description project3-desc">3. Prime Ministers (individual Project) I created a Windows forms application using C# to show a list of information to the user about the prime ministers of Canada.</p>

    <br>
  </div>
</div>

  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  


