<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

 
  <!-- Main Content -->
  
  
<div class="content">    

  <%- include partials/content.ejs %>
  <h4 class="myservices">Technical Skills</h4>
   <div class="project-images">

    <img class="project-photo project1-photo" src="/Assets/images/csharp.png" alt="csharp" width="300" height="200">
       
    <img class="project-photo" src="/Assets/images/angularjs.png" alt="angularjs" width="300" height="200"></a>  
    
    <img class="project-photo project3-photo" src="/Assets/images/machine-learning.jpg" alt="machine-learning" width="300" height="200">

    
  </div>
  <div class="skillset">
    <p class="skills"><scan class="skill-name">"Languages"</scan> <br> C#, Java, Python, JavaScript/TypeScript, SQL, CSS, HTML</p>
    <p class="skills"><scan class="skill-name">"Tools/Frameworks"</scan> <br> Git/GitHub, Jira, MongoDB, Express, Angular, Node.js, Bootstrap</p>
    <p class="skills"><scan class="skill-name">"Knowledge"</scan> <br> Unix/Linux, Scrum/Agile, Data Structures/Algorithms, Machine Learning</p>
  </div>
</div>

  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  



