<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

 
  <!-- Main Content -->
  
  
<div class="content">    

  <h3 class="intro about-intro"><%= title %></h3>
  <h4 class="myservices">Technical Skills</h4>
  <div class="skillset">
    <p class="skills"><scan class="skill-name">"Languages"</scan> <br> C#, Java, Python, JavaScript/TypeScript, SQL, CSS, HTML</p>
    <p class="skills"><scan class="skill-name">"Tools/Frameworks"</scan> <br> Git/GitHub, Jira, MongoDB, Express, Angular, Node.js, Bootstrap</p>
    <p class="skills"><scan class="skill-name">"Knowledge"</scan> <br> Unix/Linux, Scrum/Agile, Data Structures/Algorithms, Machine Learning</p>
  </div>
</div>

  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  



