<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

 
  <!-- Main Content -->
  
  
<div class="content" style="background-image: url('Assets/images/servicesbg.webp'); background-size: cover;">    
  <div class="empty-space"></div>
  <h3 class="intro services-intro"><%= title %></h3>
  <h4 class="myservices">Technical Skills</h4>
  <p class="skills">Programming Languages: C#, Java, Python, JavaScript/TypeScript, SQL, CSS, HTML</p>
  <p class="skills">Tools/Frameworks: Git/GitHub, Jira, MongoDB, Express, Angular, Node.js, Bootstrap</p>
  <p class="skills">Knowledge: Unix/Linux, Scrum/Agile, Data Structures/Algorithms, Machine Learning</p>
</div>

  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  



